<h1>Artists#index</h1>
<p>Find me in app/views/artists/index.html.erb</p>
<h1>Artists</h1>
<ul>
  <% @artists.each do |artist| %>
    <li>
      <%= link_to artist.name, artist_path(artist) %>
      <%= artist.song %> <%= "song".pluralize(artist.song) %>
    </li>
  <% end %>
</ul>
