<h1>All songs</h1>

<% @songs.each do |song| %>
  <span class="song_title"><%= song.title %></span>
  <span class="song_artist"><%= song.try(:artist).try(:name) %></span>
  <span class="song_genre"><%= song.try(:genre).try(:name) %></span>
  <ul class="song_notes">
    <% song.try(:notes).try :each do |note| %>
      <li class="song_note"><%= note.content %></li>
    <% end %>
  </ul>

<% end %>
